/* animations for each reel */
@keyframes reel-top {
  0% { top: 0; z-index: 2; }
  33% { top: 206px; z-index: 1; }
  66% { top: 412px; z-index: 2; }
  /*67% { top: -206px; z-index: 0; }*/
  100% { top: 0; z-index: 0; }
}

@keyframes reel-middle {
  0% { top: 206px; z-index: 2; }
  33% { top: 412px; z-index: 0; }
  /*34% { top: -206px; z-index: 0; }*/
  66% { top: 0; z-index: 0;}
  100% { top: 206px; z-index: 2; }
}

@keyframes reel-bottom {
  0% { top: 412px; z-index: 0; }
  /*1% { top: -206px; z-index: 0; }*/
  33% { top: 0px; z-index: 0; }
  66% { top: 206px; z-index: 2; }
  100% { top: 412px; z-index: 1; }
}

body {
  background: url('../images/the-mill.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#btn-play {
  margin: 30px;
  font-weight:bold;
}

.container-fluid {
  padding: 20px 0;
}

.game-container { 
  position: relative;
}

.img-responsive {
  display:inline;
}

/* Reels */
.reel {
  position: relative;
  overflow: hidden;
  width: 206px;
  height: 618px;
  background: white;
}

[data-position="reel-top"] {
  top: 0;
}

[data-position="reel-middle"] {
  top: 206px;
}

[data-position="reel-bottom"] {
  top: 412px;
}

.spinning[data-position="reel-top"] {
  animation-name: reel-top;
}

.spinning[data-position="reel-middle"] {
  animation-name: reel-middle;
}

.spinning[data-position="reel-bottom"] {
  animation-name: reel-bottom;
}

.paused {
  animation-play-state: paused;
}

.reel-item {
  position:absolute;
  display: block; 
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.reel img {
  border: 3px solid #efefef;
}

.reel.no-shift {
  margin-top: 0;
}

.reel.shift {
  margin-top:-1000px;
}

.reel-item {
  text-align: center;
}

.reel-top {
  border-bottom:0;
}

.reel-bottom {
  border-top:0;
}

.border-success .reel-middle {
  border-color: lightgreen;
}

/* Prize */
#prize {
  opacity:0;
  z-index: 2;
  background:white;
  border: 3px solid lightgreen;
  width: 400px;
  height:375px;
  padding:0 30px;
  position:absolute;
  margin:auto;
  top:250px;
  right:50px;
  bottom:50px;
  left:50px;
  box-shadow: 0px 5px 10px #555;
  text-align:center;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

#prize.winner {
  opacity: 0.95;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

@media (max-width: 670px) {
  .container {
      width: 670px;
  }
}
